.slide {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vh;
}

.carousel {
    position: relative;
    margin: 0 auto;
  }

.carousel-item .carousel-caption {
    color: #717171;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    color: #00ff00 !important;
  }

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(100%);
}