.slide {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 80vh;
}

.carousel {
    position: relative;
    width: 100%;
    max-width: 800px;
    max-height: 90%;
    margin: 0 auto;
  }

.carousel .d-block w-100 {
  position: relative;
  max-width: fit-content;
  max-height: 80%;
  transform: translateY(50%);
}

.carousel-caption {
  position: relative;
  top: 100%;
  bottom: 0; 
  left: 0;
  color: #fff;
  padding: 10px;
}
